<!DOCTYPE html>
<html lang="ro">
  <head>
    <title>GoalGate Despre</title>
    <meta
      name="keywords"
      content="bilete fotbal, fotbal, stadion, cumpără bilete"
    />
    <meta
      name="description"
      content="Cumpara bilete la meciurile tale preferate de fotbal."
    />
    <%- include("../fragmente/head.ejs") %>
    <link rel="stylesheet" href="/resurse/css/despre.css" />
  </head>
  <body>
    <%- include("../fragmente/header.ejs") %>
    <main>
      <div id="despre-pagina-container">
        <h2 id="heading-text">
          Despre GoalGate
          <div class="heading-text-reflectat">Despre GoalGate</div>
        </h2>
        <p class="descriere">
          Site-ul va fi dedicat exclusiv vânzării de bilete pentru meciurile de
          fotbal. Utilizatorii vor putea vizualiza și achiziționa bilete pentru
          meciuri naționale și internaționale, inclusiv pentru echipe de club și
          meciuri amicale. Platforma va oferi opțiuni de filtrare avansate
          pentru a selecta meciurile dorite, va include un ghid detaliat pentru
          cumpărarea biletelor și va permite utilizatorilor să gestioneze
          biletele printr-un portofel virtual. De asemenea, vor fi disponibile
          informații utile despre accesul în stadion și facilități pentru
          spectatori.
        </p>
        <video
          controls="controls"
          poster="/resurse/imagini/stadion.jpg"
          preload="none"
        >
          <source src="/resurse/videos/video.mp4" type="video/mp4" />
          <source src="/resurse/videos/video.webm" type="video/webm" />
          <track
            default
            src="/resurse/vtt/text_ro.vtt"
            kind="captions"
            srclang="ro"
            label="romana"
          />
          <track
            src="/resurse/vtt/text_en.vtt"
            kind="captions"
            srclang="en"
            label="engleza"
          />
        </video>
        <p>Nu rata ocazia de a-ți susține echipa preferată.</p>
        <div id="div-duotone"></div>
      </div>
    </main>
    <%- include('../fragmente/footer.ejs') %>
  </body>
</html>
