<!DOCTYPE html>
<html lang="ro">
  <head>
    <title>GoalGate</title>
    <meta
      name="keywords"
      content="bilete fotbal, fotbal, stadion, cumpără bilete"
    />
    <meta
      name="description"
      content="Cumpara bilete la meciurile tale preferate de fotbal."
    />
    <%- include("../fragmente/head.ejs") %>
  </head>
  <body>
    <%- include("../fragmente/header.ejs") %>
    <main><%- include('../fragmente/galerie-statica.ejs') %></main>
    <%- include('../fragmente/footer.ejs') %>
  </body>
</html>
