html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  transition: font-size 0.3s ease;
  margin: 0;
  padding: 0;
}

body {
  --culoare-main: #1b263b;
  --culoare-2: #0d1b2a;
  --culoare-3: #415a77;
  --culoare-4: #778da9;
  --culoare-5: #e0e1dd;
  --spatiere-pagina: 5rem;
  --spatiere-pagina-mediu: 1rem;
  --spatiere-pagina-mic: 0.5rem;
  --grid-gap: 1rem;
  --grid-gap-mediu: 0.7rem;
  padding-left: var(--spatiere-pagina);
  padding-right: var(--spatiere-pagina);
  background-color: var(--culoare-main);
  color: var(--culoare-5);
}

header {
  background-color: var(--culoare-2);
  border: var(--culoare-3) solid 1px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

main {
  background-color: var(--culoare-main);
}

#grid-pagina {
  display: grid;
  grid-template-areas:
    "despre despre despre despre"
    "meciuri bilete bilete calendar"
    "informatii informatii real-vs-barca real-vs-barca"
    "indice-ocupare indice-ocupare real-vs-barca real-vs-barca"
    "contact contact contact contact";
  grid-gap: var(--grid-gap);
}

#grid-pagina > * {
  border: var(--culoare-3) solid 2px;
  border-radius: 20px;
  padding: 20px;
}

#despre {
  grid-area: despre;
  border: none;
}

#meciuri {
  grid-area: meciuri;
}

.tabel-container {
  overflow-x: auto;
}

.tabel-container table {
  width: 100%;
  border-collapse: collapse;
  border: 5px inset var(--culoare-3);
}

th,
td {
  /* border: 1px solid #ddd; */
  padding: 8px;
  text-align: center;
  border-left: 1px solid var(--culoare-5);
  border-right: 1px solid var(--culoare-5);
}

thead tr {
  background-color: var(--culoare-3);
  color: white;
}

tbody tr:nth-child(even) {
  border-bottom: 1px solid red;
}

tbody tr:nth-child(odd) {
  border-bottom: 1px solid #2196f3;
}

tbody tr:hover {
  outline: 5px solid rgba(0, 0, 0, 0.7);
  transition: outline 0.5s ease-in-out;
}

caption {
  caption-side: bottom;
  font-style: italic;
  padding: 10px;
}

#bilete {
  grid-area: bilete;
}

#calendar {
  grid-area: calendar;
}

#informatii {
  grid-area: informatii;
}

math {
  font-size: 20px;
}

mi {
  font-style: italic;
  color: var(--culoare-5);
}

mo {
  font-weight: bold;
  color: var(--culoare-4);
}

mfrac {
  color: white;
  font-weight: bold;
}

.container-iframe {
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
}

.container-iframe > iframe {
  width: 100%;
}

.taburi-iframe {
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.taburi-iframe .tab-iframe {
  border-top: 7px solid var(--culoare-5);
  border-left: 7px solid rgba(0, 0, 0, 0);
  border-right: 7px solid rgba(0, 0, 0, 0);
  display: flex;
}

.taburi-iframe .tab-iframe > a {
  display: block;
  width: 250px;
  height: 70px;
  background-color: var(--culoare-3);
  text-align: center;
  color: var(--culoare-5);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: inset 0 -3px 10px 5px rgba(224, 225, 221, 0.3);
  border: 2px solid var(--culoare-5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.taburi-iframe .tab-iframe > a:hover {
  box-shadow: none;
  transition: box-shadow 1s;
}

.container-iframe iframe {
  width: 100%;
  height: 400px;
  min-width: 300px;
  max-width: 1000px;
  /* width: 560px;
  height: 315px; */
}

#indice-ocupare {
  grid-area: indice-ocupare;
}

#real-vs-barca {
  grid-area: real-vs-barca;
}

#contact {
  grid-area: contact;
}

footer {
  background-color: var(--culoare-2);
  border: var(--culoare-3) solid 1px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#link-top {
  position: fixed;
  bottom: 0.3em;
  opacity: 0.5;
  left: 0.3em;
  width: 3rem;
  box-sizing: border-box;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  border: 5px solid var(--culoare-4);
  border-top-color: var(--culoare-3);
  border-radius: 50%;
  background: rgb(220, 220, 220);
  box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#link-top:hover {
  opacity: 1;
  box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.3);
  transition: 0.3s ease-in-out;
}

#triunghi {
  /* height: 0px;
  width: 0;
  display: inline-block;
  border-bottom: 1.5rem solid grey;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  vertical-align: top;
  transform: translateY(30%); */
  font-size: 30px;
  color: var(--culoare-4);
  font-weight: 800;
}
