<footer>
  <a href="#" title="mergi sus" id="link-top"
    ><div id="triunghi">&#5123;</div></a
  >
  <div>
    <small>
      &copy; <time datetime="2025-03-03">3 martie 2025</time> GoalGate.
      <strong>Toate drepturile rezervate.</strong>
    </small>
    <br />
    <!-- <button class="btn btn-primary">
      <a href="#">link inceput</a>
    </button> -->
    <!-- <button id="schimba_tema">
      <i class="bi bi-sun"></i>/<i class="bi bi-sun-fill"></i>
    </button> -->
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        id="schimba_tema"
        role="switch"
      />
      <label class="form-check-label" for="schimba_tema">
        <i class="bi bi-sun" id="icon_sun"></i> /
        <i class="bi bi-moon" id="icon_moon"></i>
      </label>
    </div>

    <br />
    <a href="tel:+4070212032">Telefon: +4070212032</a>
    <br />
    <br />
    <a href="mailto:contact@goalgate.com">Email: contact@goalgate.com</a>
    <br />
    <a href="https://wa.me/+4070212032" target="_blank">Chat pe WhatsApp</a>
    <p id="absolut">Acesta este un proiect școlar!</p>
    <p id="watermark">Mita<br />Alexandru</p>
  </div>

  <div>
    <a
      href="https://www.google.ro/maps/place/Faculty+of+Mathematics+and+Computer+Science/@44.4355393,26.0970118,17z/data=!3m1!4b1!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh?entry=ttu&g_ep=EgoyMDI1MDIyNi4xIKXMDSoJLDEwMjExNDU1SAFQAw%3D%3D"
      target="_blank"
    >
      Adresă: Faculty of Mathematics and Computer Science
    </a>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8842997291954!2d26.0995867!3d44.4355355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFaculty%20of%20Mathematics%20and%20Computer%20Science!5e0!3m2!1sen!2sro!4v1741029518568!5m2!1sen!2sro"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</footer>
