nav {
  background-color: var(--culoare-4);
  --inaltime-meniu: 50px;
  --latime-buton: 200px;
  height: var(--inaltime-meniu);
  color: var(--culoare-5);
}
nav #hamburger,
nav #ch-menu {
  display: none;
}
nav ul.meniu {
  display: flex;
  list-style: none;
  padding: 0;
}
nav ul.meniu li.item-menu {
  width: var(--latime-buton);
  height: var(--inaltime-meniu);
  border-left: 1px solid var(--culoare-2);
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  line-height: var(--inaltime-meniu);
  transition: all 0.3s linear;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
nav ul.meniu li.item-menu:hover {
  background-color: var(--culoare-2);
}
nav ul.meniu li.item-menu:hover div.text-icon {
  color: var(--culoare-5);
}
nav ul.meniu li.item-menu:hover div.text-icon a {
  color: var(--culoare-5);
}
nav ul.meniu li.item-menu:hover div.imag-icon {
  color: var(--culoare-5);
}
nav ul.meniu li.item-menu:hover ul.submeniu {
  transform: scale(1);
}
nav ul.meniu li.item-menu:hover ul.submeniu li:hover a {
  color: var(--culoare-main);
}
nav ul.meniu li.item-menu::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--culoare-2);
  transform: translateY(-50%);
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  z-index: -1;
  box-sizing: border-box;
  box-shadow: inset 0 0 10px var(--culoare-5);
  border: 2px solid var(--culoare-5);
}
nav ul.meniu li.item-menu:hover::before {
  height: 100%;
  opacity: 0.5;
}
nav ul.meniu li.item-menu:not(:hover)::before {
  height: 1px;
  opacity: 0;
}
nav ul.meniu li.item-menu div.imag-icon {
  display: none;
}
nav ul.meniu li.item-menu div.text-icon a {
  color: var(--culoare-5);
  text-decoration: none;
}
nav ul.meniu li.item-menu ul.submeniu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  list-style-type: none;
  background-color: var(--culoare-4);
  text-align: center;
  padding: 0;
  transform: scale(0);
  transform-origin: top left;
  transition: transform 0.3s ease-in-out;
  width: 100%;
}
nav ul.meniu li.item-menu ul.submeniu li a {
  text-decoration: none;
  color: var(--culoare-5);
  position: relative;
  padding-bottom: 2px;
}
nav ul.meniu li.item-menu ul.submeniu li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  box-shadow: 0 4px 0 currentColor;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
nav ul.meniu li.item-menu ul.submeniu li a:hover::after {
  opacity: 1;
}
nav ul.meniu li.item-menu-acasa-mic {
  display: none;
}

@media print {
  nav ul.meniu {
    display: block;
    width: 100%;
    background-color: red;
  }
  nav ul.meniu li.item-menu {
    width: 100%;
    border-left: none;
  }
}